@{
    ViewBag.Title = "Home Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная старица </title>
    <link rel="stylesheet" href="css/Home.css">
</head>
<body>

    <video autoplay loop muted class="video-home-index">
        <source src="@Url.Content("~/Video/BackGroundHome.mp4.mp4")" type="video/mp4">
        Ваш браузер не поддерживает видео в формате MP4.
    </video>

</body>
</html>
