<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация завершена</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .alert {
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-success mt-5" role="alert">
                    <h4 class="alert-heading">Вы успешно зарегистрировались!</h4>
                    <p>Дождитесь одобрения администрации!</p>
                    <p>Вы получите уведомление на почту!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@*This is the page to wait for the user to authenticate*@