@using Microsoft.AspNetCore.Identity
@using ShopManager.DAL.Entities.User
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

@{
    ViewBag.Title = "Manager Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


@section Scripts {
    <script src="~/js/Manager/SendRevenue.js"></script>
    <script src="~/js/Manager/GetSales.js"></script>
    <script src="~/js/Manager/Main.js"></script>
}


<meta charset="UTF-8">

<div class="container">
    <h2>Добро Пожаловать , @User.Identity?.Name!</h2>
    <div class="buttons">
        <button id="showAllRevenue">Выручки</button>
        <button id="sendReport">Отрпавить отчет</button>
        <button id="main">Главная</button>
    </div>
</div>

<div class="border"></div>

<div class="containerforResult"></div>