@using Microsoft.AspNetCore.Identity
@using ShopManager.DAL.Entities.User
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <form class="form-inline" action="/" method="GET">
                <button type="submit" class="nav-link btn btn-link text-dark">Приветствую,@User.Identity?.Name!</button>
            </form>
        </li>

        <li class="nav-item">
            <form class="form-inline" action="/Register/WhatRole" method="GET">
                <button type="submit" class="nav-link btn btn-link text-dark">К работе</button>
            </form>
        </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
            <button  type="submit" class="nav-link btn btn-link text-dark">Выход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
