@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Подключаем общий макет
}
@section Scripts {
    <script src="~/js/Admin/AdminUser.js"></script>
    <script src="~/js/Admin/AdminManager.js"></script>
    <script src="~/js/Admin/AdminMarket.js"></script>
    <script src="~/js/Admin/AdminNewMarket.js"></script>
    <script src="~/js/Admin/AdminGetSales.js"></script>
    <script src="~/js/Admin/Calculator.js"></script>
}
<meta charset="UTF-8">
<div class="container">
    <h1>Добро Пожаловать , Admin</h1>
    <div class="buttons">
        <button id="showAllUsers">Пользователи</button>
        <button id="showAllManagers">Менеджеры</button>
        <button id="showAllShops">Магазины</button>
        <button id="showRevenue">Выручка</button>
        <button id="showSales">Диограмма продаж</button>
        <button id="addMarketTable">Новый магазин</button> <br />

        <button id="calculate">Калькулятор</button>
    </div>
</div>

<div class="border"></div>
<div class="containerforResult">
</div>


